<app-navbar></app-navbar>

<div class="container" >
  <div class="row align-items-center">
    <div class="col"  *ngIf="isSignedIn">
      <div class="card mt-5 cardcolor" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title magenta">Fabrica Darafe</h5>
          <h6 class="card-subtitle mb-2 subtitulo">Registro y modificacion</h6>
          <p class="card-text textc">En este espacio usted puede dar de alta sus productos de la fabrica y productos custom.</p>
          <a href="#" class="card-link linkcolor" routerLink="/fabrica/fabrica">Abrir Fabrica</a>
        </div>
      </div>
    </div>
  </div>
</div>
